/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

ul {
  list-style: none;
}

/* UTILITIES */

/* layout */

.main-wrapper {
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

/* flex */

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

/* color */

.green {
  color: #00E166;
}

.red {
  color: red;
}

.grey {
  color: grey;
}

/* HEADER */

header {
  height: 18%;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.container.logo {
  height: 100%;
}

header img {
  width: 300px;
}

header p span {
  font-size: 2.5rem;
}

/* MAIN */

main {
  height: 72%;
  background-color: rgb(240, 240, 240);
  font-size: 1.3rem;
  overflow: hidden;
}

/* input-area */

.input-area {
  text-align: center;
  padding-top: 20px;
}

input {
  width: 310px;
}

input::placeholder {
  font-style: italic;
}

input, button {
  padding: 15px 20px;
  font-size: 1.5rem;
  border-radius: 20px;
  border: 2px solid #00E166;
  transition: 0.2s;
  cursor: pointer;
}

input:focus {
  background-color: #00E166;
  outline: none;
}

input:focus::placeholder {
  color: white;
}

button {
  font-weight: bold;
  margin: 0 20px;
}

button:hover {
  color: white;
  background-color: #00E166;
}

.input-area i {
  font-size: 4rem;
  transition: 0.5s;
  cursor: pointer;
}

.input-area i:hover {
  color: #00E166;
  animation: trash 0.5s linear;
}

@keyframes trash {
  25% {
    transform: rotate(2deg) translateY(-5px) ;
  }
  50% {
    transform: rotate(0deg) translateY(0);
  }
  75% {
    transform: rotate(-2deg) translateY(-5px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}

.input-area p {
  color: red;
  height: 40px;
  line-height: 40px;
}

/* todo-area */

.todo-area{
  height: 310px;
  overflow: auto;
}

li {
  padding: 10px 30px;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

li:hover {
  background-color: white;
} 

.counter {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #00E166;
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
}

.line-throught {
  text-decoration: line-through;
}

.check-area {
  margin-right: 20px;
}

.todo-area i { 
  font-size: 2.5rem;
  filter: opacity(0.5);
}

.todo-area i:hover {
  filter: opacity(1) brightness(1.5);
}

.eraser:hover {
  animation: eraser 0.2s linear;
}

@keyframes eraser {
  25%{
    transform: translateX(-3px);
  }
  50%{
    transform: translateX(0px);
  }
  75%{
    transform: translateX(3px);
  }
  100%{
    transform: translateX(0);
  }
}

/* complete text */

.complete-text {
  text-align: center;
  padding-top: 30px;
}

.complete-text span {
  font-size: 4rem;
}

/* FOOTER */

footer {
  height: 10%;
  font-size: 1rem;
  font-weight: bold;
}

footer i {
  font-size: 2rem;
}